@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: merriweather, san-serif;
    font-weight: 300;
    color:#3a3a3a;
}

/* headings and trademark */

h1, h2 {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#trademark {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    float: right;
    font-size: 100%;
    letter-spacing: 4px;
}

#trademark, #menu {
    line-height: 75px;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a
}

.current-menu {
    border-bottom: 1px solid #3a3a3a
}

/*-image for person cooking-*/
#cooking-border {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#image-heading {
    border: 5px solid black;
}

#image-heading, #image-heading h2 {
    color: #3a3a3a;
}

#person-cooking {
    height: 100%;
    width: 100%;
    background: url(../images/mor-shani--unsplash.jpg) no-repeat center center;

     /* animates zoom effect on loading page */
     animation-name: cooking-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes cooking-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#image-heading {
    font-size: 100%;
    font-family: lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 100px;

    padding-top: 40px;
    padding: 10px;

    background-color: #fff;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/*main body text */

.opening-description-section {
    background: linear-gradient(45deg, grey, transparent);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 2rem auto 1rem auto;
    border: 5px solid black;
}

.opening-description-section img {
    height: 250px;
}

.opening-description-section h2 {
    color: #252525;
    margin: 0;
}

.opening-description-section h2 > hr {
    border: 1px solid black;
    width: 50%;
}

.opening-description-section p {
    color: #fff;
    margin-right: 15px;
}

.opening-description-text span {
    font-size: large;
    color: black;
}
/*-end of main text-*/

/*-This is the free sample css-*/

#free-samples-section {
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(45deg, grey, transparent);
    border: 5px solid black;
}

#free-samples-section h2 {
    text-align: center;
}

#free-samples-section p {
    text-align: center;
}

#free-sample-div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    border: 2px solid grey;
}

.vegetarian-free-sample {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 33px 0 33px 0;
}

#free-samples-div img {
    height: 250px;
}

/*-social media footer section-*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/*-vegetarian.html section-*/

#veg-lasagne {
    height: 100%;
    width: 100%;
    background: url(../images/Lasagne-veg.jpg) no-repeat center center;

     /* animates zoom effect on loading page */
     animation-name: cooking-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}

/* creates the level of zoom */

@keyframes cooking-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.recipe-details {
    background: linear-gradient(45deg, grey, transparent);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 2rem auto 1rem auto;
    border: 5px solid black;
}

.recipe-instructions {
    background: linear-gradient(45deg, grey, transparent);
    display: flex;
    justify-content: space-around;
    padding: 40px;
    width: 70%;
    margin: 2rem auto 1rem auto;
    border: 5px solid black;
}

.lasagne-ingrediants {
    padding: 0 30px 0 10px;
}

.quorn-meat-img {
    clear: left;
    height: 200px;
    background: url(../images/Quorn\ Meat.jpg) no-repeat;
    background-size: contain;
}

.olive-oil {
    clear: left;
    height: 200px;
    width: 100%;
    background: url(../images/Tesco\ Olive\ Oil.jpg) no-repeat;
    background-size: contain;
}

.pasta-sheets {
    clear: left;
    height: 200px;
    width: 100%;
    background: url(../images/lasagne-sheets.jpg) no-repeat;
    background-size: contain;
}

.cheese-grated {
    clear: left;
    height: 200px;
    width: 100%;
    background: url(../images/cheese-grated.jpg) no-repeat;
    background-size: contain;
}

.red-sauce {
    clear: left;
    height: 200px;
    width: 100%;
    background: url(../images/Dolmio-red-sauce.jpg) no-repeat;
    background-size: contain;
}

.white-sauce {
    clear: left;
    height: 200px;
    width: 100%;
    background: url(../images/white-sauce.jpg) no-repeat;
    background-size: contain;
}


.lasagne-instructions {
    padding: 0 10px 0 40px;
}

/*-vegetarian section ends-*/