@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: merriweather, san-serif;
    font-weight: 300;
    color:#3a3a3a;
}

/* headings and trademark */

h1, h2 {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#trademark {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/*-adding in flex display 22.09.2022-*/
#menu {
    display: flex;
    flex-direction: row-reverse;
}

#trademark, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    position: relative;
}

#menu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a
}

.current-menu {
    border-bottom: 1px solid #3a3a3a
}
/*-menu-bar update at smaller screens-*/

@media screen and (max-width: 950px) {
    
    /*-header updated to center the nav bar 22.09.2022-*/
    header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    }
    
    /*-margin: 0 auto; added 22.09.2022-*/
    #trademark {
        margin: 0 auto;
        text-align: center;
        font-size: 200%;
    }

    #trademark, #menu {
        line-height: 40px;
    }
    
    nav {
        text-align: center;
    }

    #menu {
    float: left;
    }

    #menu li {
        margin-bottom: 1em;
        margin-right: 1em;
    }

    #image-heading {
        left: 15px;
    }

.opening-description-section {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
    }

    .opening-description-text h2 {
        letter-spacing: 5px;
        text-align: center;
    }

    .recipe-details {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
    }

    .recipe-instructions {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
    }

    .lasagne-instructions {
        margin-top: 30px;
    }

    #free-samples-section {
        padding: 40px;
    }

    #free-sample-div {
        padding: inherit;
    }

    #free-sample-div img {
        width: 100%;
        height: 100%;
    }

    #free-sample-div h2 {
        padding: 0;
    }

    #free-sample-div p {
        padding-top: 10px;
    }

    .vegetarian-free-sample {
        text-align: center;
    }

}

/*-image for person cooking-*/
#cooking-border {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#image-heading {
    border: 5px solid black;
}

#image-heading, #image-heading h2 {
    color: #3a3a3a;
}

#person-cooking {
    height: 100%;
    width: 100%;
    background: url(../images/mor-shani--unsplash.jpg) no-repeat center center;

     /* animates zoom effect on loading page */
     animation-name: cooking-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes cooking-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#image-heading {
    font-size: 100%;
    font-family: lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 100px;

    padding-top: 40px;
    padding: 10px;

    background-color: #fff;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/*main body text */

.opening-description-section {
    background: linear-gradient(45deg, grey, transparent);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 2rem auto 1rem auto;
    border: 5px solid black;
}

.opening-description-section img {
    height: 250px;
    margin-top: 15px;
}

.opening-description-section h2 {
    color: #252525;
    margin: 0;
}

.opening-description-section h2 > hr {
    border: 1px solid black;
    width: 50%;
}

.opening-description-section p {
    color: #fff;
    margin-right: 15px;
}

.opening-description-text span {
    font-size: large;
    color: black;
}
/*-end of main text-*/

/*-This is the free sample css-*/

#free-samples-section {
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(45deg, grey, transparent);
    border: 5px solid black;
}

#free-samples-section h2 {
    text-align: center;
}

#free-samples-section p {
    text-align: center;
}

#free-sample-div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    border: 2px solid grey;
}

.vegetarian-free-sample {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 33px 0 33px 0;
}

#free-samples-div img {
    height: 250px;
}

/*-social media footer section-*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}



/*-vegetarian.html section-*/

#veg-lasagne {
    height: 100%;
    width: 100%;
    background: url(../images/Lasagne-veg.jpg) no-repeat center center;

     /* animates zoom effect on loading page */
     animation-name: cooking-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes cooking-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


.recipe-details {
    background: linear-gradient(45deg, grey, transparent);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 2rem auto 1rem auto;
    border: 5px solid black;
}

.recipe-instructions {
    background: linear-gradient(45deg, grey, transparent);
    display: flex;
    justify-content: space-around;
    padding: 40px;
    width: 70%;
    margin: 2rem auto 1rem auto;
    border: 5px solid black;
}

.lasagne-ingrediants {
    padding: 0 30px 0 10px;
}

/*-reduce height to 150px 24.09.2022-*/
.quorn-meat-img {
    clear: left;
    height: 150px;
    background: url(../images/Quorn\ Meat.jpg) no-repeat;
    background-size: contain;
}

/*-reduce height to 150px 24.09.2022-*/
.olive-oil {
    clear: left;
    height: 150px;
    width: 100%;
    background: url(../images/Tesco\ Olive\ Oil.jpg) no-repeat;
    background-size: contain;
}

.pasta-sheets {
    clear: left;
    height: 200px;
    width: 100%;
    background: url(../images/lasagne-sheets.jpg) no-repeat;
    background-size: contain;
}

.cheese-grated {
    clear: left;
    height: 200px;
    width: 100%;
    background: url(../images/cheese-grated.jpg) no-repeat;
    background-size: contain;
}

.red-sauce {
    clear: left;
    height: 200px;
    width: 100%;
    background: url(../images/Dolmio-red-sauce.jpg) no-repeat;
    background-size: contain;
}

.white-sauce {
    clear: left;
    height: 200px;
    width: 100%;
    background: url(../images/white-sauce.jpg) no-repeat;
    background-size: contain;
}


.lasagne-instructions {
    padding: 0 10px 0 40px;
}

/*-vegetarian section ends-*/

/*-Sign-up section starts-*/

.sign-up-image {
    clear: left;
    background: url(../images/woman-cooking.jpg);
    background-size: cover;
    background-position: center;
    height: 1200px;
}

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #252525;
    background-color: #fff;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border: 5px solid black;
}

.info-needed {
    background-color: lightgrey;
    border: 1px solid #252525;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
}

legend {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

.block-level {
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.submit-button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: grey;
    color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}

.submit-button:hover {
    color: #252525;
    box-shadow: inset 200px 0 0 0 #f9e506;
}